//
// Scaffolding
// --------------------------------------------------

// sets base font-sizing on html element
@include typi-init;

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-content;
  font-weight: $font-weight-light; // yes, the whole site is light

  // fallback font for initial render to avoid FOIT
  font-family: $font-family-base-fallback;

  // fonts-loaded flag, triggered by JS
  .has-loaded-fonts-body & {
    font-family: $font-family-base;
  }
}

::selection {
  background: $color-content-ci;
  color: $color-white;
}

// Ensure elements load hidden before ScrollReveal runs
html.sr [data-reveal] {
  visibility: hidden;
}
