//
// Colors
// --------------------------------------------------

// Black & White
$color-black: #000;
$color-white: #fff;

// Shades of gray
$color-gray-5: #565656;
$color-gray-f: #f0f0f0;

// Brand colors
$color-primary: #b93041;
$color-secondary: #6db358;

// Content color mapping
$color-content: $color-gray-5;
$color-content-ci: $color-primary;
