@font-face {
  font-family: 'HelveticaNeueLTPro-Lt';
  src: url('../fonts/39B936_0_0.eot');
  src:
    url('../fonts/39B936_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/39B936_0_0.woff2') format('woff2'),
    url('../fonts/39B936_0_0.woff') format('woff'),
    url('../fonts/39B936_0_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
