/* Italic */
@font-face {
  font-family: 'BigNoodleTitling';
  src: url("../fonts/subset-BigNoodleTitling-Oblique.eot");
  src:
    url("../fonts/subset-BigNoodleTitling-Oblique.eot?#iefix") format("embedded-opentype"),
    url("../fonts/subset-BigNoodleTitling-Oblique.woff2") format("woff2"),
    url("../fonts/subset-BigNoodleTitling-Oblique.woff") format("woff"),
    url("../fonts/subset-BigNoodleTitling-Oblique.ttf") format("truetype"),
    url("../fonts/subset-BigNoodleTitling-Oblique.svg#BigNoodleTitling-Oblique") format("svg");
  font-weight: normal;
  font-style: italic;
}
