//
// Typography settings
// --------------------------------------------------

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Families
$font-family-base-fallback: 'Arial', sans-serif;
$font-family-base: 'HelveticaNeueLTPro-Lt', 'Arial', sans-serif;
$font-family-ci-fallback: 'Impact', serif;
$font-family-ci: 'BigNoodleTitling', 'Impact', serif;

// Tell Typi to use mappy-breakpoints
$typi-breakpoint: mappy-bp;

// Font Sizing
/* stylelint-disable value-list-max-empty-lines */
$typi: (
  // Base for <html>, will be inherited
  base: (
    null: (16px, 1.5)
  ),

  richtext: (
    null: (15px, 1.5),
    md: (17px),
  ),

  richtext-sm: (
    null: (15px, 1.5),
  ),

  richtext-lg: (
    null: (17px, 1.5),
    md: (20px),
  ),

  headline--default: (
    null: (24px, 1.2),
    md: (32px),
  ),

  menu: (
    null: (24px, 1),
    md: (17px, 1),
  ),

  button: (
    null: (18px, 1.2),
  ),
);
/* stylelint-enable */
