//
// Colors
// --------------------------------------------------

// Black & White
$color-black: #000;
$color-white: #fff;

// Shades of gray
$color-gray-6: #6f7072;
$color-gray-e: #eff0f0;

// Brand colors
$color-primary: #72ae25;
$color-secondary: #006833;

// Content color mapping
$color-content: $color-gray-6;
$color-content-ci: $color-primary;
