<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{/* Meta tags */}}
    {{ partial "global/meta.html" . }}

    {{/* <head> includes */}}
    {{ partial "global/includes-head.html" . }}
  </head>

  <body>
    <a href="#main" class="u-invisible">Jump to content</a>
    <a href="#menu" class="u-invisible">Jump to menu</a>

    <div class="o-pagelayout" id="start">
      {{/* Top */}}
      {{ partial "sections/top.html" . }}

      {{/* Hero */}}
      {{ partial "sections/hero" . }}

      {{/* Content */}}
      <main class="o-main{{if or (eq .Params.layout "plain") (eq .Params.layout "downloads")}} o-main--half-hero{{end}}" id="main">
        {{ block "main" . }}{{ end }}
      </main>

      {{/* Footer */}}
      {{ partial "sections/footer.html" . }}
    </div>

    {{/* <body> includes */}}
    {{ partial "global/includes-body.html" . }}
  </body>
</html>
