//
// Mixins
// --------------------------------------------------

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin no-font-smoothing {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@mixin font-ci {
  font-family: $font-family-ci-fallback;
  font-style: italic;
  text-transform: uppercase;

  // fonts-loaded global flag, triggered by JS
  .has-loaded-fonts-ci & {
    font-family: $font-family-ci;
  }
}

// Reset all default button styles
@mixin button-reset {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
  white-space: normal;

  &:focus {
    outline: none;
  }
}

// Apply default section padding
@mixin section-padding {
  padding-top: rem($section-padding);
  padding-bottom: rem($section-padding);

  @include mappy-bp(md) {
    padding-top: rem($section-padding-md);
    padding-bottom: rem($section-padding-md);
  }
}
