//
// Downloads
// --------------------------------------------------

$downloads-indicator-size: 32px;

// Highlights
.c-downloads-highlights {
  @include mappy-bp(sm) {
    display: flex;
  }
}

.c-downloads-highlights__highlight {
  width: rem(200px);

  @include mappy-bp(sm) {
    width: rem(240px);
  }

  & + & {
    margin-top: rem(40px);

    @include mappy-bp(sm) {
      margin-top: 0;
      margin-left: rem(80px);
    }
  }
}

.c-downloads-highlights__highlight-link {
  display: block;
  color: inherit;
  transition: color $transition-time-default;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  & + & {
    margin-top: .75em;
  }
}

.c-downloads-highlights__highlight-img-wrapper {
  overflow: hidden;
}

.c-downloads-highlights__highlight-img {
  display: block;
  width: 100%;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

.c-downloads-highlights__highlight-title {
  @include typi('richtext');
  display: flex;
  align-items: baseline;

  .c-downloads-highlights__highlight-img-wrapper + & {
    margin-top: 1.125em;
  }

  svg {
    flex-shrink: 0;
    margin-right: 1em;
    color: $color-primary;
    width: rem(12px);
    height: rem(12px);
  }

  span {
    color: $color-content-ci;
    font-size: 14 / 17 * 1em;
  }
}

// Indicator
.c-downloads-indicator {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-white;
  height: rem($downloads-indicator-size);
  width: rem($downloads-indicator-size);

  &,
  &:hover,
  &:focus {
    color: $color-secondary;
  }

  svg {
    height: 60%;
    width: 60%;
  }
}

// Legend
.c-downloads-list__legend {
  color: $color-secondary;
  @include typi('richtext');

  li {
    display: flex;
    align-items: center;
  }

  .c-downloads-indicator + span {
    margin-left: rem(20px);
  }

  li + li {
    margin-top: rem(20px);
  }
}

// List
.c-downloads-list__lists {
  margin-top: rem($section-padding - 20px); // compensate first list item top padding

  @include mappy-bp(md) {
    margin-top: rem($section-padding-md - 20px); // compensate first list item top padding
  }

  .o-grid__col {
    padding-top: 0;
  }
}

.c-downloads-list__item {
  padding: rem(20px) 0 rem(10px);
  border-bottom: 1px solid $color-gray-6;
  color: $color-secondary;
  @include typi('richtext');

  @include mappy-bp(xs) {
    display: flex;
    align-items: baseline;
  }
}

.c-downloads-list__item-slots {
  flex-shrink: 0;
  margin-bottom: rem(10px);
  display: flex;
  align-items: baseline;

  @include mappy-bp(xs) {
    margin-bottom: 0;
    margin-right: rem(15px);
  }
}

.c-downloads-list__item-slot {
  flex-shrink: 0;
  width: rem($downloads-indicator-size);
  height: rem($downloads-indicator-size);

  & + & {
    margin-left: rem(10px);
  }
}

.c-downloads-list__item-download {
  display: block;
}
