//
// Intro
// --------------------------------------------------

$canvas-height-xs: 400px;
$canvas-height-sm: 560px;
$canvas-height-md: 680px;

.c-intro {
  position: relative;
  z-index: 5; // < content
}

.c-intro__canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: rem($canvas-height-xs);

  @include mappy-bp($bp-grid-collapse) {
    width: 50%;
  }
  @include mappy-bp($bp-grid-collapse-lg) {
    width: calc(50% - #{rem($grid-gutter-md / 2)});
  }

  @include mappy-bp(sm) {
    height: rem($canvas-height-sm);
  }

  @include mappy-bp(md) {
    height: rem($canvas-height-md);
  }

  // bg coloring
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; // > bg
    background-color: rgba($color-primary, .84);
  }
}

.c-intro__canvas-img-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5; // < overlay
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.c-intro__canvas-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 69%;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}


// Content
.c-intro__content {
  position: relative;
  z-index: 10; // > canvas

  > .o-container {
    position: relative;
  }
}

// Arrow hint
.c-intro__arrow-hint {
  color: $color-white;
  height: rem(37px);
  width: rem(23px);

  position: absolute;
  left: rem($container-gutter);
  top: rem(-18.5px);

  svg {
    height: 100%;
    width: 100%;
  }
}

.c-intro__cols {
  @include section-padding;
}

.c-intro__col1.o-grid__col {
  @include mappy-bp($bp-grid-collapse-lg) {
    padding-right: rem($grid-gutter-md);
  }
}

// Headline
.c-intro__headline {
  color: $color-white;
  @include font-smoothing;
  max-width: rem(270px);

  height: rem($canvas-height-xs - $section-padding);

  @include mappy-bp(sm) {
    height: rem($canvas-height-sm - $section-padding);
  }

  @include mappy-bp(md) {
    height: rem($canvas-height-md - $section-padding-md);
  }
}

// Contact
.c-intro__contacts {
  margin-top: rem(-120px);
}

.c-intro__contacts-icon {
  svg {
    width: rem(60px);
    height: rem(60px);
  }
}

.c-intro__contacts-inner {
  background-color: $color-secondary;
  color: $color-white;
  @include font-smoothing;

  padding: rem(60px) rem(30px);

  @include mappy-bp(xs) {
    padding-left: 0;
  }
}

.c-intro__contact {
  display: flex;
  flex-direction: column;

  @include mappy-bp(xs) {
    flex-direction: row;
  }

  & + & {
    margin-top: rem(30px);
  }
}

.c-intro__contact-content {
  margin-top: rem(5px);

  @include mappy-bp(xs) {
    margin-top: 0;
    margin-left: rem(30px);
  }
}

.c-intro__contact-img-wrapper {
  overflow: hidden;
  flex-shrink: 0;
}

.c-intro__contact-img {
  width: rem(60px);
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}
