//
// Menu
// --------------------------------------------------

.c-menu__toggler {
  display: block;
  position: relative;
  width: rem(44px);
  height: rem(44px);

  @include mappy-bp($bp-menu-collapse) {
    display: none;
  }

  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;

    transition: all $transition-time-default;
    transform: translate3d(0, 0, 0);

    // burger
    &:first-of-type {
      .is-open & {
        transform: scale(.75);
        opacity: 0;
      }
    }

    // close
    &:last-of-type {
      transform: scale(.75);
      opacity: 0;

      .is-open & {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.c-menu__inner {
  position: absolute;
  z-index: index($z-index, menu);
  left: 0;
  right: 0;
  top: 100%;
  height: calc(100vh - 100%); // viewport height - topbar height
  background-color: $overlay-bg;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: rem(50px);
  padding-bottom: rem(50px);

  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: $transition-time-medium;

  .is-open & {
    opacity: 1;
    visibility: visible;
  }

  @include mappy-bp($bp-menu-collapse) {
    opacity: 1;
    visibility: visible;
    position: static;
    background-color: transparent;
    height: auto;
    overflow: visible;
    padding: 0;
  }
}

.c-menu__main {
  @include mappy-bp($bp-menu-collapse) {
    display: flex;
  }

  svg {
    display: none;
    height: rem(11px);
    width: rem(11px);
    margin-left: rem(30px);
    margin-right: rem(30px);

    @include mappy-bp(lg) {
      margin-left: rem(40px);
      margin-right: rem(40px);
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  li + li {
    margin-top: rem(30px);

    @include mappy-bp($bp-menu-collapse) {
      margin-top: 0;
      margin-left: rem(40px);

      svg {
        display: block;
      }
    }
  }

  a {
    display: block;
    @include typi('menu');
    @include font-ci;
    color: $color-white;
    @include font-smoothing;
    transition: color $transition-time-default;

    &:hover,
    &:focus,
    &.active {
      color: rgba($color-white, $hover-opacity);
    }
  }
}
