//
// Richtext
// --------------------------------------------------

.c-richtext {
  @include typi(richtext);
  color: $color-content;

  img {
    max-width: 100%;
    height: auto;
    display: block;

    &:not(:first-child) {
      margin-bottom: 4em;
    }

    &:not(:last-child) {
      margin-top: 4em;
    }
  }

  strong {
    color: $color-secondary;
  }

  p {
    margin-bottom: 0;
  }

  p,
  table,
  .c-headline {
    &:not(:last-child) {
      margin-bottom: rem(30px);
    }

    &:not(:first-child) {
      margin-top: rem(30px);
    }
  }

  h1 {
    @extend .c-headline;
  }

  h2 {
    @extend .c-headline;
    @extend .c-headline--secondary;
    @extend .c-headline--text-sizing;
  }

  h3 {
    @extend .c-headline;
    @extend .c-headline--text-sizing;

    + p:not(:first-child) {
      margin-top: rem(-30px);
    }
  }

  a {
    color: $color-secondary;
    transition: all $transition-time-default;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  em {
    color: $color-secondary;
  }

  ul {
    list-style: inherit;
    padding-left: 1em;
  }

  ul.c-list--highlighted {
    padding-left: 0;

    &:not(:last-child) {
      margin-bottom: rem(50px);
    }

    &:not(:first-child) {
      margin-top: rem(50px);
    }

    li {
      display: flex;
      align-items: center;
      color: $color-secondary;
      @include typi('headline--default');
      @include font-smoothing;

      &:not(:last-of-type) {
        margin-bottom: rem(15px);
      }

      &::before {
        content: '';
        width: rem(20px);
        height: rem(24px);
        display: block;
        margin-right: 1em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.802 23.453'%3E%3Cpath fill='none' stroke='%2372ae25' stroke-miterlimit='10' stroke-width='.75' d='M.375 0v23.453M.375 11.721h15.333'/%3E%3Cpath d='M15.708 7.628l4.093 4.093-4.093 4.094' fill='%2372ae25'/%3E%3C/svg%3E");
      }
    }
  }
}

.c-richtext--primary {
  strong,
  em,
  ul.c-list--highlighted li {
    color: $color-primary;
  }

  a {
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
}

.c-richtext--inverted {
  &,
  a {
    color: $color-white;
    @include font-smoothing;
  }

  a:hover,
  a:focus {
    color: $color-primary;
  }

  strong,
  em {
    color: $color-primary;
  }
}

.c-richtext--lg {
  @include typi(richtext-lg);
}


.c-richtext--sm {
  @include typi(richtext-sm);
}
