{{/* Set headless footer bundle which holds the footer content */}}
{{ $footer := .Site.GetPage "page" "footer" }}

<footer class="c-footer">
  <div class="o-container">
    <div class="c-footer__content">
      <div class="c-footer__cols">
        {{/* Address */}}
        <address class="c-footer__col c-richtext c-richtext--sm c-richtext--inverted">
          {{ with $footer.Resources.GetMatch "col1*.md" }}
            {{ .Content }}
          {{end}}
        </address>

        {{/* Meta menu */}}
        <ul class="c-footer__col c-footer__meta">
          <li class="c-footer__meta-item">
            <a class="c-footer__meta-link" href="{{ ref . "impressum/index.md" }}">Impressum</a>
          </li>
          <li class="c-footer__meta-item">
            <a class="c-footer__meta-link" href="{{ ref . "datenschutz/index.md" }}">Datenschutz</a>
          </li>
        </ul>
      </div>

      {{/* Toplink */}}
      <a href="#start" class="c-footer__scroll-up" data-scroll-top>
        {{ partial "components/svg" (dict "svg" "arrow-edge-up") }}
        <span class="u-invisible">Nach oben</span>
      </a>
    </div>
  </div>
</footer>
