<footer class="c-footer">
  {{/* Content */}}
  <div class="c-footer__content">
    <div class="o-container">
      <div class="c-footer__content-inner">
        <div class="c-footer__cols">
          {{/* Address */}}
          <address>
            TODO: Address
          </address>

          {{/* Meta menu */}}
          <ul class="c-footer__meta">
            <li class="c-footer__meta-item">
              <a class="c-footer__meta-link" href="#">Impressum (TODO: Link)</a>
            </li>
            <li class="c-footer__meta-item">
              <a class="c-footer__meta-link" href="#">Datenschutz (TODO: Link)</a>
            </li>
          </ul>
        </div>

        {{/* Toplink */}}
        <a href="#start" class="c-footer__scroll-up" data-scroll-top>
          {{ partial "components/svg" (dict "svg" "top") }}
          <span class="u-invisible">Nach oben</span>
        </a>
      </div>
    </div>
  </div>
</footer>
