//
// Button
// --------------------------------------------------

.c-button {
  @include button-reset;

  @include typi("button");
  cursor: pointer;
  background-color: $color-secondary;
  color: $color-white;
  @include font-smoothing;
  padding: rem(20px);
  transition: background-color $transition-time-default;

  display: inline-flex;
  align-items: center;

  @include mappy-bp(md) {
    padding: rem(24px);
  }

  svg {
    flex-shrink: 0;
    margin-left: rem(24px);
    width: rem(32px);
    height: rem(8px);
  }
}
