//
// Downloads
// --------------------------------------------------

@use "sass:math";

$downloads-indicator-size: 32px;

// Highlights
.c-downloads-highlights {
  @include mappy-bp(sm) {
    display: flex;
  }
}

.c-downloads-highlights__highlight {
  width: rem(200px);

  @include mappy-bp(sm) {
    width: rem(240px);
  }

  & + & {
    margin-top: rem(40px);

    @include mappy-bp(sm) {
      margin-top: 0;
      margin-left: rem(80px);
    }
  }
}

.c-downloads-highlights__highlight-link {
  display: block;
  color: inherit;
  transition: color $transition-time-default;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  & + & {
    margin-top: .75em;
  }
}

.c-downloads-highlights__highlight-img-wrapper {
  overflow: hidden;
}

.c-downloads-highlights__highlight-img {
  display: block;
  width: 100%;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

.c-downloads-highlights__highlight-title {
  @include typi("richtext");
  display: flex;
  align-items: baseline;

  .c-downloads-highlights__highlight-img-wrapper + & {
    margin-top: 1.125em;
  }

  svg {
    flex-shrink: 0;
    margin-right: 1em;
    color: $color-primary;
    width: rem(12px);
    height: rem(12px);
  }

  span {
    color: $color-content-ci;
    font-size: math.div(14, 17) * 1em;
  }
}

// Indicator
.c-downloads-indicator {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-white;
  height: rem($downloads-indicator-size);
  width: rem($downloads-indicator-size);

  &,
  &:hover,
  &:focus {
    color: $color-secondary;
  }

  svg {
    height: 60%;
    width: 60%;
  }
}

// Single download
.c-download {
  color: $color-secondary;
  @include typi("richtext");
  display: flex;
  align-items: center;
  padding: rem(20px) 0 rem(10px);
  border-bottom: 1px solid $color-content;

  .c-downloads-indicator + span {
    margin-left: rem(20px);
  }
}
