//
// Typography components
// --------------------------------------------------

// Headlines
.c-headline {
  font-weight: $font-weight-light;
  @include typi("headline--default");
  display: block;

  span.br {
    display: block;
  }

  span.br-md {
    @include mappy-bp(md) {
      display: block;
    }
  }
}

.c-headline--text-sizing {
  @include typi("richtext");
}

.c-headline--with-spacing {
  margin-bottom: rem(30px);

  @include mappy-bp(md) {
    margin-bottom: rem(50px);
  }
}

.c-headline--primary {
  color: $color-primary;
  @include font-smoothing;

  strong {
    color: $color-secondary;
  }
}

.c-headline--secondary {
  color: $color-secondary;
  @include font-smoothing;

  strong {
    color: $color-primary;
  }
}
