//
// Partners
// --------------------------------------------------

@use "sass:math";

$partners-canvas-height-xs: 400px;

.c-partners {
  position: relative;
}

.c-partners__canvas {
  width: 100%;
  height: rem($partners-canvas-height-xs);
  position: relative;

  @include mappy-bp($bp-grid-collapse) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  }
  @include mappy-bp($bp-grid-collapse-lg) {
    width: calc(50% - #{rem(math.div($grid-gutter-md, 2))});
  }
}

.c-partners__canvas-img-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5; // < overlay
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.c-partners__canvas-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 67% 30%;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

.c-partners__col1-inner {
  @include section-padding;
}

// Partners list
.c-partners__partner {
  display: flex;
  flex-direction: column;

  @include mappy-bp(xs) {
    flex-direction: row;
  }

  & + & {
    margin-top: rem(50px);
  }
}

.c-partners__partner-content {
  margin-top: rem(15px);

  @include mappy-bp(xs) {
    margin-top: 0;
    margin-left: rem(30px);
  }
}

.c-partners__partner-img-wrapper {
  overflow: hidden;
  flex-shrink: 0;
}

.c-partners__partner-img {
  display: block;
  width: rem(100px);
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}
