//
// Layout
// --------------------------------------------------

// Pagelayout (outer wrapper)
.o-pagelayout {
  padding-top: $pagelayout-y-gutter;

  @include mappy-bp(sm) {
    padding-bottom: $pagelayout-y-gutter;
    padding-left: $pagelayout-gutter-sm;
    padding-right: $pagelayout-gutter-sm;
  }

  @include mappy-bp(md) {
    padding-left: $pagelayout-gutter-md;
    padding-right: $pagelayout-gutter-md;
  }

  @include mappy-bp(lg) {
    padding-left: $pagelayout-gutter-lg;
    padding-right: $pagelayout-gutter-lg;
  }
}

// Main (content wrapper)
.o-main {
  padding-top: calc(100vh - #{$pagelayout-y-gutter * 2});
}

.o-main__content {
  position: relative;
  z-index: index($z-index, content);
}

// default section
.o-main__section {
  position: relative;
  z-index: index($z-index, content-section);

  background-color: $color-white;
  @include section-padding;

  > * {
    position: relative;
  }
}

// light bg color
.o-main__section--bg-light {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($color-gray-f, .9);
  }
}

// ci bg color
.o-main__section--bg-secondary {
  background-color: $color-secondary;
}

// no pad
.o-main__section--no-pad {
  padding-top: 0;
  padding-bottom: 0;
}

// overlaps
.o-main__section--overlap-top {
  &::before {
    top: rem(-$overlap-size);
  }
}

.o-main__section--overlap-bottom {
  &::before {
    bottom: rem(-$overlap-size);
  }
}
